@CHARSET "UTF-8";

nav {
  display: flex;
	background: hsl(233, 40%, 60%);
	color: white;
  width: auto;
  height: auto;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a {
	color: white;
  text-decoration: none;
  /*border: 1px solid black;*/
}

nav li {
  display: inline;
}

nav li a:hover {
    background-color: hsl(233, 40%, 70%);
    color: white;
}

#admin_nav li a:hover {
    background-color: hsl(233, 40%, 80%);
    color: white;
}

#admin_nav {
	flex: 1;
	background: hsl(233, 40%, 70%);
	color: white;
}
