@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

#main_container {	
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0%;
	margin-bottom: 0%;
	width: 90%;
	text-align: center;

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

header {
	flex: 1;
	background: hsl(233, 100%, 42%);
	color: white;
	width: 100%;
}

nav, footer {
	flex: 1;
	background: hsl(233, 40%, 60%);
	color: white;
}

article {
	flex: 1;
	background: linear-gradient(hsl(233, 100%, 80%), hsl(233, 100%, 90%));/*hsl(233, 100%, 85%);*/

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

#admin_nav {
	background: hsl(233, 30%, 65%);
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

div {
	margin: 10px;
	flex: 1;
}

#film_info_div {
	display: flex;
	flex-flow: column wrap;
	justify-content: left;
}

#film_info {
	flex: 10;
}

#book_ticket {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

option, select {
	background: transparent;
	width: 90%;
	border-style: none;
	margin-bottom: 5px;
	border-color: transparent;
}

input[type="button"], input[type="submit"] {
	flex: 1;
	width: 160px;
	height: 60px;
	background: hsl(233, 100%, 60%);
	color: white;
	border-radius: 20px;
	margin-botton: 10px;
	margin-right: 10px;
	margin-left: 10px;
	
	border-top-color: hsl(233, 100%, 85%);
	border-left-color: hsl(233, 100%, 85%);
	
	border-bottom-color: hsl(233, 100%, 55%);
	border-right-color: hsl(233, 100%, 55%);
}

input[type="button"].seat {
	width: 30px;
	height: 30px;
	margin: 2px;
	background: grey;
	border-radius: 5px;
}

input[type="button"]:disabled {
	background: hsl(233, 30%, 65%);
	border-top-color: hsl(233, 30%, 55%);
	border-left-color: hsl(233, 30%, 55%);
	
	border-bottom-color: hsl(233, 30%, 75%);
	border-right-color: hsl(233, 30%, 75%);
}

input[type="button"].seat2 {
	width: 30px;
	height: 30px;
	margin: 2px;
	background: red;
	border-radius: 5px;
}

ul {
	list-style-type: none;
}

.film_link, .film_link:active, .film_link:hover, .film_link:visited {
	color: black;
	font-style: normal;
	font: 15px arial, serif;
	text-decoration: none;
}

/* Cosmetics for the index page. */
#index_article {
	height: 350px;
}